<mat-card>
    <mat-card-title class="text-center justify-content-between d-flex">
        <span></span>
        <h1>Detectors</h1>
        <button mat-button (click)="loadDetectors()">
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-card-title>
    <table class="w-100" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="activated">
            <th mat-header-cell *matHeaderCellDef>Active</th>
            <td mat-cell *matCellDef="let row">
                <mat-chip-list>
                    <mat-chip color="primary" [selected]="row.activated" (click)="onActiveChange(row)">
                        {{row.activated ?
                        'On' : 'Off'}}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>
        <ng-container matColumnDef="metricName">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let row">{{row.metricName}}</td>
        </ng-container>
        <ng-container matColumnDef="interval">
            <th mat-header-cell *matHeaderCellDef>Execution Interval</th>
            <td mat-cell *matCellDef="let row">{{row.interval}}</td>
        </ng-container>
        <ng-container matColumnDef="lastExecuted">
            <th mat-header-cell *matHeaderCellDef>Last executed</th>
            <td mat-cell *matCellDef="let row">{{row.lastExecuted | date : 'medium'}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/detectors/', row.id]"
            class="selectable"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data found.</td>
        </tr>
    </table>
</mat-card>
<button mat-fab color="primary" class="floating-fab" (click)="addDetector()">
    <mat-icon>add</mat-icon>
</button>