<h1 class="text-center">Clients</h1>
<mat-card>
    <mat-card-actions class="text-center justify-content-end d-flex">
        <button mat-button (click)="loadClients()">
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-card-actions>
    <table class="w-100" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="appKey">
            <th mat-header-cell *matHeaderCellDef>App-Key</th>
            <td mat-cell *matCellDef="let row">
                {{row.appKey}}
            </td>
        </ng-container>
        <ng-container matColumnDef="instanceIds">
            <th mat-header-cell *matHeaderCellDef>Instance-Ids</th>
            <td mat-cell *matCellDef="let row">
                <mat-chip-list>
                    <mat-chip *ngFor="let instanceId of row.instanceIds">{{instanceId}}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="2">No data found.</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons>
    </mat-paginator>
</mat-card>
<button mat-fab color="primary" class="floating-fab" (click)="addClient()">
    <mat-icon>add</mat-icon>
</button>