<mat-card>
    <mat-card-title class="text-center ">
        <h1 class="m-0">Dashboard
        </h1>
    </mat-card-title>
    <mat-card-content *ngIf="!isSignedIn">
        Sign in to use features like:
        <mat-list>
            <mat-list-item>Viewing and editing detectors</mat-list-item>
            <mat-list-item>Filtering and viewing metrics</mat-list-item>
            <mat-list-item>Filtering and viewing log messages</mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<app-metric-dashboard *ngIf="isSignedIn" [showTitle]="false" [editable]="false"></app-metric-dashboard>