/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto,"Helvetica Neue", sans-serif;
    background-color: #303030;
}

.property-name {
    font-weight: bold;
    margin-bottom: 6px;
}

.property {
    margin-bottom: 12px;
}

.selectable {
    cursor: pointer;
}

/* Floating action button */
.floating-fab {
    position: fixed !important;
    right: 30px;
    bottom: 30px;
}

.floating-fab-secondary {
    position: fixed !important;
    right: 30px;
    bottom: 100px;
  }

.message-error {
    color: white;
    background-color: #dc3545;
}

.message-info {
    color: black;
    background-color: #0dcaf0;
}