<mat-card *ngIf="showTitle">
    <mat-card-title class="text-center">
        <h1 class="m-0">Metrics</h1>
    </mat-card-title>
</mat-card>
<div class="row">
    <div class="mt-4" [ngClass]="getSize(config)" *ngFor="let config of chartConfigurations">
        <app-metric-chart [config]="config" (change)="loadChartConfigurations()" [editable]="editable"></app-metric-chart>
    </div>
</div>
<button mat-fab color="primary" class="floating-fab" (click)="addChart()" *ngIf="editable">
    <mat-icon>add</mat-icon>
</button>