.log-type-warning {
    color: white;
    background-color: rgb(207, 136, 4) !important;
}

.log-type-error {
    color: white;
    background-color: rgb(170, 56, 21) !important;
}

.log-type-trace {
    color: white;
    background-color: rgb(0, 121, 158) !important;
}

.mat-column-type {
    width: 90px;
}