<div class="row justify-content-center">
    <h1 class="col-auto text-center">Detector for Metric "{{detector?.metricName}}"</h1>
    <mat-chip-list class="col-auto" *ngIf="detector">
        <mat-chip color="primary" selected="true" *ngIf="detector.activated">On</mat-chip>
        <mat-chip *ngIf="!detector.activated">Off</mat-chip>
    </mat-chip-list>
</div>
<div class="text-center mt-2">
    Last executed: {{detector?.lastExecuted | date : 'medium'}}
</div>
<mat-card class="mt-4" *ngIf="detector">
    <mat-card-title class="text-center">
        <h2>Details</h2>
    </mat-card-title>
    <mat-card-content>
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="property-name">Execution Interval</div>
                <div class="property">{{detector.interval}}</div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="property-name">Action ({{detector.action.type | actionType}})</div>
                <div class="property">({{detector.action.endpoint}})</div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="property-name">Triggers when</div>
                <p class="property" *ngIf="detector.intervalDetector">
                    {{detector.intervalDetector.aggregateOperation | aggregateOperation}}
                    {{detector.intervalDetector.compareType | compareType}}
                    {{detector.intervalDetector.threshold}}
                    in the last
                    {{detector.offset}}.
                </p>
                <p class="property" *ngIf="detector.minMaxDetector">
                    Hits exceed {{detector.minMaxDetector.maxHits}} in threshold range of
                    {{detector.minMaxDetector.lowerThreshold}} -
                    {{detector.minMaxDetector.upperThreshold}} in the last {{detector.offset}}.
                </p>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<ng-container *ngIf="detector">
    <button mat-fab color="error" class="floating-fab-secondary" (click)="delete()">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab color="primary" class="floating-fab" (click)="edit()">
        <mat-icon>edit</mat-icon>
    </button>
</ng-container>