<mat-card class="mb-4 text-center">
    <mat-card-title class="d-flex justify-content-between">
        <a mat-button routerLink="/detectors">
            <mat-icon>arrow_back</mat-icon>
        </a>
        <div class="d-flex">
            <h1 class="d-flex">Detector {{detector?.metricName}}</h1>
            <mat-chip-list class="ms-3" *ngIf="detector">
                <mat-chip color="primary" selected="true" *ngIf="detector.activated">On</mat-chip>
                <mat-chip *ngIf="!detector.activated">Off</mat-chip>
            </mat-chip-list>
        </div>
        <span></span> <!-- For flex -->
    </mat-card-title>
    <mat-card-subtitle *ngIf="detector">
        Last executed: {{detector.lastExecuted | date : 'medium'}}
    </mat-card-subtitle>
</mat-card>
<mat-card class="mb-4" *ngIf="detector">
    <mat-card-title class="text-center">
        <h2>Details</h2>
    </mat-card-title>
    <mat-card-content>
        <div class="row">
            <div class="col-6 col-lg-4">
                <div class="property-name">Execution Interval</div>
                <div class="property">{{detector.interval}}</div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="property-name">Action</div>
                <div class="property">{{detector.action.type | actionType}} ({{detector.action.endpoint}})</div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="property-name">Triggers when</div>
                <p class="property" *ngIf="detector.intervalDetector">
                    {{detector.intervalDetector.aggregateOperation | aggregateOperation}}
                    {{detector.intervalDetector.compareType | compareType}}
                    {{detector.intervalDetector.threshold}}
                    in the last
                    {{detector.offset}}.
                </p>
                <p class="property" *ngIf="detector.minMaxDetector">
                    Hits exceed {{detector.minMaxDetector.maxHits}} in threshold range of
                    {{detector.minMaxDetector.lowerThreshold}} -
                    {{detector.minMaxDetector.upperThreshold}} in the last {{detector.offset}}.
                </p>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<button mat-fab color="primary" class="floating-fab" (click)="edit()" *ngIf="detector">
    <mat-icon>edit</mat-icon>
</button>