<mat-toolbar color="primary" class="row justify-content-between w-100 g-0">
    <div class="col-auto">
        <a mat-button routerLink="/home">AaaS</a>
    </div>
    <div class="col-auto" *ngIf="isSignedIn">
        <a mat-button routerLink="/detectors">
            <mat-icon>schedule</mat-icon>
            Detectors
        </a>
        <a mat-button routerLink="/metrics">
            <mat-icon>insert_chart</mat-icon>
            Metrics
        </a>
        <a mat-button routerLink="/logs">
            <mat-icon>info</mat-icon>
            Logs
        </a>
    </div>
    <div class="col-auto">
        <button mat-button (click)="isSignedIn ? signOut() : signIn()">
            <mat-icon>{{isSignedIn ? 'login' : 'logout'}}</mat-icon>
            {{isSignedIn ? 'Sign out' : 'Sign in'}}
        </button>
    </div>
</mat-toolbar>