<mat-toolbar color="primary" class="d-flex justify-content-between">
    <div class="col-auto d-flex align-items-center">
        <button mat-icon-button (click)="toggle()" *ngIf="isSignedIn">
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-button class="app-name" routerLink="/">AaaS</a>
    </div>
    <div class="col-auto">
        <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="isSignedIn" >
            <mat-icon>account_circle</mat-icon>
            {{userinfo}}
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="signOut()">
                <mat-icon>logout</mat-icon> Sign out
            </button>
        </mat-menu>
        <button mat-button *ngIf="!isSignedIn" (click)="signIn()">
            <mat-icon>login</mat-icon>
            Sign in
        </button>
    </div>
</mat-toolbar>