<mat-toolbar color="primary" class="d-flex justify-content-between">
    <div class="col-auto d-flex align-items-center">
        <button mat-icon-button (click)="toggle()" *ngIf="isSignedIn">
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-button class="app-name" routerLink="/">AaaS</a>
    </div>
    <div class="col-auto">
        <button mat-button (click)="isSignedIn ? signOut() : signIn()">
            <mat-icon>{{isSignedIn ? 'login' : 'logout'}}</mat-icon>
            {{isSignedIn ? 'Sign out' : 'Sign in'}}
        </button>
    </div>
</mat-toolbar>