<mat-card>
    <mat-card-title class="text-center mt-2">
        <h1>Detectors</h1>
    </mat-card-title>
    <mat-card-actions class="d-flex justify-content-end">
        <button mat-button (click)="load()">
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-card-actions>
    <table class="w-100" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="activated">
            <th mat-header-cell *matHeaderCellDef>Active</th>
            <td mat-cell *matCellDef="let row">
                <mat-chip-list>
                    <mat-chip color="primary" selected="true" *ngIf="row.activated" (click)="onActiveChange(row)">On
                    </mat-chip>
                    <mat-chip *ngIf="!row.activated" (click)="onActiveChange(row)">Off</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>
        <ng-container matColumnDef="metricName">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let row">{{row.metricName}}</td>
        </ng-container>
        <ng-container matColumnDef="interval">
            <th mat-header-cell *matHeaderCellDef>Execution Interval</th>
            <td mat-cell *matCellDef="let row">{{row.interval}}</td>
        </ng-container>
        <ng-container matColumnDef="lastExecuted">
            <th mat-header-cell *matHeaderCellDef>Last executed</th>
            <td mat-cell *matCellDef="let row">{{row.lastExecuted | date : 'medium'}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/detectors/', row.id]"
            class="selectable"></tr>
    </table>
</mat-card>
<button mat-fab color="primary" class="floating-fab" (click)="add()">
    <mat-icon>add</mat-icon>
</button>